* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aliceblue;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-inline: 15px;
  padding: 10px;
  border-radius: 8px;
  background-color: cornflowerblue;
  border: 1px solid black;
}
li > a {
  text-decoration: none;
}
input {
  margin-bottom: 5px;
}

#content {
  align-items: normal;
}
#dtlist {
  background-color: beige;
  cursor: pointer;
  border-radius: 4px;
}
.nav-menu {
  background-color: cadetblue;
  padding: 20px;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
}
.map {
  font-size: 18px;
  color: darkgoldenrod;
}
